/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

h1, h2, h3, h4 {
	font-family: 'Bungee Inline', cursive;
}

body {
	// display: flex;
	width: 80%;
	margin: auto;
	font-family: sans-serif;
	font-size: 12px;
	background-color: black;
}

button {
	// background-color: $light-blue;
	// border-color: $blue;
	color: white;
	font-weight: 1000;
	padding: 5px;
	border-radius: 3px;
	transition: width 2s;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 9px;
	text-align: center;
}

button:hover {
	// background-color: $blue;
	// border-color: $dark-blue;
}

a:hover {
	text-decoration: underline
}

.hidden {
	display: none;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	// background-color: $light-gray;
}
