<container class='masthead'>
  <nav class='language-nav'>
    <ul>
      <a href="#">CSS</a>
      <a href="#">HTML</a>
      <a href="#">Javascript</a>
      <a href="#">Ruby</a>
    </ul>
  </nav>
  <img src="/assets/AA_Times_Logo.png" alt="logo" class='logo'>

  <nav class='masthead-links'>
    <ul class='masthead-links'>
      <li>
        <time>Tuesday, October 18, 2016</time>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          <span>Today’s Paper</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-video-camera" aria-hidden="true"></i>
          <span>Video</span>
        </a>
      </li>
      <li>
        <button type="button" name="button">77°F</button>
      </li>
      <li>
        <button type="button" name="button">
          <span>
            AAO <strong>+100%</strong>
          </span>
        </button>
      </li>
    </ul>
  </nav>

</container>
