<section id="overlay" class="overlay hidden">
  <div class="search">
    <input type="text" name="" value="Lorem Ipsum Dolor">
    <button id='close-btn' type="button" name="close">X</button>
  </div>
  <button id='search-btn'type="button" name="search">GO</button>
  <button id='close-btn' type="button" name="close">X</button>
</section>
