<div class="tweet">
  <h3 class='tweetr'>
    <%= link_to tweet.user.username, user_url(tweet.user.id) %>
  </h3>
  <p><%= tweet.content %></p>

  <!-- -- -->
  <!-- -- <%= tweet.created_at %> -->

  <% if tweet.mentioned_users.length > 0 %>
    <ul>Mentions
      <% tweet.mentioned_users.each do |mentioned_user| %>
        <li><%= link_to mentioned_user.username, user_url(mentioned_user) %></li>
      <% end %>
    </ul>
  <% end %>

</div>
