
<h1 class='page-header'>Edit <%= @band.name %></h1>

<form class="form" action="<%= band_url %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <p>
    <label for="name">Name</label>
    <input id="name" type="text" name="band[name]" value="<%= @band.name %>">
  </p>
  <input type="submit" value="Update">
</form>
