/* PHASE 5: Cats */
main .content-header {
  display: flex;
  height: 200px;
  background-image: url("../cats.jpg");
  border: 1px solid lightgray;
  background-size: cover;
  align-items:flex-end;
  justify-content: space-around;
}

.content-header * {
  margin-bottom: 20px;
}

.content-header h1{
  color: white;
  font-size: 40px;
  font-weight: 900;
  margin-left: 250px;
}

button {
  padding: 10px;
  background-color: white;
  border: 1px solid lightgray;
  height: 15px;
  border-radius: 5px;
  font-weight: 700;
}

button:hover {
  background-color: lightgray;
}
