<h1 class='page-header'>SIGN-IN</h1>
<%= button_to 'Go to Sign-up!', new_user_url, method: :get %>
<form class="form" action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>
    <label for="email">Email</label>
    <input id="email" type="text" name="user[username]" value="">
  </p>

  <p>
    <label for="password">Password</label>
    <input id="password" type="password" name="user[password]" value="">
  </p>

  <input type="submit" value="Submit">
</form>
