// Use the gear_dropdown.png screenshot as a style guide

.gear-dropdown {
  position: absolute;
  top: 40px;
  right: 100px;
  border: 1px solid $light-gray;
  border-radius: 3px;
  width: 230px;
  background-color: white;
  padding: 5px;
  z-index:1000;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  font-family: $serif;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
}

.gear-dropdown a {
  color: $dark-gray;
  text-decoration: none;
  padding: 0;
}

.dropdown-subtitle {
  padding: 0;
}

.editions {
  border-bottom: 1px solid $light-gray;
}

.gear-dropdown * {
  padding: 5px;
}

.gear-dropdown span {
  font-size: 10px;
  font-weight: 950;
  color: $gray;
  // padding: 5px;
}


.editions > li:hover{
  background-color: $light-gray;
  border-radius: 3px;
}

.help > li > a:hover{
  color: $blue;
  text-decoration: underline;

}
