.signup {
  // width: 100%;
  margin: 20px;
}

.article li {
  list-style-position: inside;
  list-style-type: disc;
  padding: 5px;
  font-family: "times new roman";
  font-size: 12px;
  font-weight: 700;
}

.article {
  list-style-type: disc;
  padding: 0px;
  font-family: "times new roman";
  font-size: 12px;
  font-weight: 700;
}

.thumbnail {
  height: 100px;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-title a {
  text-decoration: underline;
  // font: italic bold 80px;
  font-size: 25px;
  font-style: italic;
  font-weight: 950;
  font-family: serif;
}

.title {
  font-size: 14px;
  font-family: "times new roman";
  font-weight: 900;
}

.author{
  padding-top: 3px;
  padding-bottom: 4px;
  color: $gray;
  font-family: "times new roman";
  font-weight: 850;
  font-size: 11px;
}

.underline {
  text-decoration: underline;
}

.comments {
  // padding: 5px;
  padding-top: 10px;
  font-size: 11px;
  font-family: $serif;
}

.comments a {
  color: $blue;
}

hr {
  width: 50%;
  margin: 10px auto;
}

.subscribe {
  color: $gray;
  font-size: 9px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

#opinion{
  text-align: center;
}

.list {
  padding: 1px;
}

.list li {
  list-style-position: inside;
  list-style-type: disc;
  padding: 1px;
  font-family: "times new roman";
  font-size: 11px;
  font-weight: 700;
}

.guide {
  font-family: "times new roman";
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $gray;
  border-radius: 2px;
  width: 100%;
  margin: 0;
}

.signup button {
  // display: flex;
  border-radius: 0px;
  height: 100%;
  justify-content: flex-end;
}

.signup input {
  width: 80%;
  color: $gray;
  padding-left: 5px;
  font-size: 11px;
}

.col-1, .col-3 {
  padding-bottom: 40px;
  border-bottom: 3px solid $light-gray;
}
