.sections_nav {
  display: flex;
  flex-direction: column;
	align-items: center;
  position: relative;
  border-bottom: 1px solid $light-gray;
}

.sections_nav ul {
  display: flex;
}

.sections_nav ul li {
  padding: 8px;
}

.sections_nav > ul > li:hover {
  background-color: $lightest-gray;
  // text-decoration: underline;
}
